<html>
    <head>
        <style>
            nav{
                background-color: tomato;
                height: 35px;
            }
            a{
                color: #00ffff;
                padding: 10px;
                text-decoration: none;
            }
            input{
                width: 350px;
                height: 30px;
                border-color: blue;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/register">Signup</a>
            <a href="/login">Login</a>
          
        </nav>
       
        <form action="/register" method="post">
            <h1>Register page</h1>
            <input type="email" name="email" 
            placeholder="email" required>
            <br><br>
            <input type="password" name="password"
            placeholder="password" required>
            <br><br>
            <button>submit</button>

        </form>
    </body>
</html>