<html>
    <head>
        <style>
            nav{
                background-color: tomato;
                height: 35px;
            }
            a{
                color: #00ffff;
                padding: 10px;
                text-decoration: none;
            }
            h1{
                color: red;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <nav>
            
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </nav>
        <h1>You have loggedin Successfully</h1>
        
    </body>
</html>